body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* nav bar */

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.backToAdminBtn {
  display: inline-block;
  /* flex-direction: row-reverse; */
  background-color: #7fa99b;
  color: white;
  padding: 10px 25px;
  text-align: center;  
  /* font-size: 16px; */
  border-radius: 10px;
  border: none;
}
.backToAdminBtn:hover {
  background-color: #394a51;
  transition: .7s;
}

.allUsercontainer { 
  background-color: #fbf2d5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  box-sizing: border-box;
  padding: 3rem;
}
.deleteBtn {
  background-color: #7fa99b;
  border-radius: 10px;
  border: none;
  color: white;
  margin:5px 5px;
}
.deleteBtn:hover {
  background-color: #394a51;
  transition: .7s;
}


/* .number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  }
  
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  }
  
  .number-input {
    display: flex;
    justify-content: space-around;
    align-items: left;
  }
  
  .number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  margin: 2rem;
  width: 100%;
}

#title {
  font-size: 4rem;
  font-weight: bolder;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.navLinks {
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

/* single Product */

.singleProductContainer {
  display: flex;
  flex-direction: row;
  margin: 3rem;
}

.productImage {
  width: 50%;
  height: auto;
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.productDetails > * {
  margin: 1rem;
}

.productDetails > p {
  font-size: 1.5rem;
}

button > a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

/* Admin all products */

.allDisplay {
  margin: 2rem;
}

.allDisplay > * {
  margin: 1rem;
}

.AdminAllProductsDisplay {
  display: flex;
  flex-direction: row;
}

.AdminAllProductsDisplay > * {
  width: 50%;
}

/* Add New Product */

#addNewProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addNewProduct > *  {
  margin: 1rem;
}

.submitNewProduct {
  width: 8rem;
}

label {
  font-weight: bolder;
}

#updateProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#updateProduct > * {
  margin: 1rem;
}