body {
  font-family: sans-serif;
  background-color: #fbf2d5;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.allproductsheader {
  background-color: #394a51;
  min-height: 100px;
  color: #fbf2d5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  /* align-content: center; */
}

.allProductsContainer { 
  background-color: #fbf2d5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  box-sizing: border-box;
  padding: 3rem;
}
.productcard{
  margin: 3rem;
  flex: auto;
  /* padding: 20px; */
  justify-content: space-around;
  max-width: 250px;
  max-height: 300px;
  display: block;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* background-color: #fdc57b; */
  box-sizing: border-box;
  align-content: center;
  text-align: center;
}
.productImg { 
  max-width: 250px;
  padding: 20px; 
}

.itemTitle{
  font-size: large;
}

/* .number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  }
  
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  }
  
  .number-input {
    display: flex;
    justify-content: space-around;
    align-items: left;
  }
  
  .number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px 0;
  position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
  text-align: center;
  }
  
  .number-input.number-input {
  border: 1px solid #ddd;
  width: 9rem;
  border-radius: .25rem;
  }
  
  .number-input.number-input button {
  width: 2rem;
  height: .7rem;
  }
  
  .number-input.number-input button.minus {
  padding-left: 10px;
  }
  
  .number-input.number-input button:before,
  .number-input.number-input button:after {
  width: .9rem;
  background-color: #495057;
  }
  
  .number-input.number-input input[type=number] {
  max-width: 3rem;
  padding: .5rem;
  border: 1px solid #ddd;
  border-width: 0 1px;
  font-size: 1rem;
  height: 1rem;
  color: #495057;
  }
  
  @media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {
  
  .number-input.b575-number-input.safari_only button:before,
  .number-input.b575-number-input.safari_only button:after {
  margin-top: -.2rem;
  }
  } */
  /* } */
